@import url('https://fonts.googleapis.com/css2?family=Crafty+Girls&display=swap');
  .title{
    font-family : 'Crafty Girls';
    color: whitesmoke;
    font-size: 40px;
  }
.home{
    min-height: auto;
}
.learn{
    color:whitesmoke;
}
.debug{
    color:whitesmoke;
}
.learn:link{
    background-color: none;
    text-decoration: none;
}
.learn:visited{
    background-color: none;
    text-decoration: none;
}
.debug:link{
    background-color: none;
    text-decoration: none;
}
.debug:visited{
    background-color: none;
    text-decoration: none;
}
.learn-btn{
    padding-right:15%;
}
.debug-btn{
    padding-left: 15%;
}