
@import url('https://fonts.googleapis.com/css2?family=Crafty+Girls&display=swap');
  .wepo-title{
    font-family : 'Crafty Girls';
    color: whitesmoke;
    font-size: 40px;
    margin-left: 0;
   
    
}
.position{
    float:left;
    text-align: left;
}
.wepo-title:link{
    text-decoration:none;
    background-color: none;
}
.wepo-title:visited{
    text-decoration:none;
    background-color: none;
}
.navbar{
    position:absolute;
    top:0%;
    text-align: left;
}
